body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background-color: #f4f4f9;
}

.header-container {
border-bottom: 1pc solid #ddd;
margin-bottom: 30px;    
}

